.task-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 4px;
  padding: 0 10px;
  margin: 8px;
  box-shadow: 0px 1px 2px 0px #33333330;
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  color: #525252;
}

#info-container {
  display: flex;
}

.task-info {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.task-info span {
  margin: 0 0 0 5px;
}

#action-container {
  display: flex;
  justify-content: space-between;
}

button {
  margin: 0 5px;
  border: 0;
  background: none;
  color: #666666;
}

button#button-check:hover {
  cursor: pointer;
  color: #2cc737;
  transition: color 0.3s ease;
}

button#button-edit:hover {
  cursor: pointer;
  color: #b7d528;
  transition: color 0.3s ease;
}

button#button-remove:hover {
  cursor: pointer;
  color: #ff2f34;
  transition: color 0.3s ease;
}
