.task-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 4px;
  padding: 0 10px;
  margin: 8px;
  box-shadow: 0px 1px 2px 0px #33333330;
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  color: #525252;
}

#info-container {
  display: flex;
}

.task-info {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.task-info span {
  margin: 0 0 0 5px;
}

#action-container {
  display: flex;
  justify-content: space-between;
}

#action-container button {
  margin: 0 5px;
  border: 0;
  background: none;
  height: 30px;
  width: 30px;
  line-height: 0;
  border-radius: 50%;
}

#action-container div button:hover {
  cursor: pointer;
  color: #ffffff;
}

#button-check {
  color: #2cc737;
}

#button-edit {
  color: #b7d528;
}

#button-remove {
  color: #ff2f34;
}

#button-check:hover {
  background: #2cc737;
  transition: 0.3s ease;
}

#button-edit:hover {
  background: #b7d528;
  transition: 0.3s ease;
}

#button-remove:hover {
  background: #ff2f34;
  transition: 0.3s ease;
}

#button-confirm {
  color: #2cc737;
}

#button-abort {
  color: #ff2f34;
}

#button-confirm:hover {
  background: #2cc737;
  transition: 0.3s ease;
}

#button-abort:hover {
  background: #ff2f34;
  transition: 0.3s ease;
}
